body {
  background-color: rgb(107, 0, 207);
  font-family: sans-serif, Arial, Helvetica;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This ensures the whole viewport height is used for centering. */
  margin: 0;
  padding: 0;
}

.content {
  border: 2px solid black;
  padding: 40px 30px;
  background-color: #454545;
}

.input input[type="text"]{
  padding: 15px 40px;
  border-radius: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #454545;
  color: antiquewhite;
  border: 1px solid rgb(149, 55, 238);
}

.input input[type="text"]::placeholder {
  color: antiquewhite;
}

.input input[type="submit"] {
  padding: 10px 15px;
  color: white;
  border-radius: 15px;
  border: 1px transparent;
  background-color: rgb(149, 55, 238);
}

.title {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.todo {
  display: flex;
  align-items: center;
  background-color: rgb(149, 55, 238);
  border-radius: 20px;
  padding: 10px 30px;
  margin: 20px 0;

}

.todo p {
  margin: 0; /* Elimina el margen predeterminado del párrafo */
  flex-grow: 1;
  text-align: left; /* Alinea el texto horizontalmente en el párrafo */
  font-size: large;
  color: white;

}

.todo .delete{
  border: none; /* Elimina el borde predeterminado */
  background: none; /* Elimina el fondo predeterminado */
  padding: 2px 6px; /* Elimina el espacio de relleno predeterminado */
  font: inherit; /* Utiliza la fuente predeterminada del navegador */
  color: inherit; /* Utiliza el color predeterminado del texto del navegador */
  cursor: pointer; /* Cambia el cursor a una mano cuando se pasa sobre el botón */
  outline: none; /* Elimina el contorno de enfoque predeterminado */
  /* Agrega otros estilos personalizados si es necesario */
  display: inline;
  margin-left: 40px;
  background-color: none;
  color: white;
}

.todo .edit {
  border: none; /* Elimina el borde predeterminado */
  background: none; /* Elimina el fondo predeterminado */
  padding: 2px 6px; /* Elimina el espacio de relleno predeterminado */
  font: inherit; /* Utiliza la fuente predeterminada del navegador */
  color: inherit; /* Utiliza el color predeterminado del texto del navegador */
  cursor: pointer; /* Cambia el cursor a una mano cuando se pasa sobre el botón */
  outline: none; /* Elimina el contorno de enfoque predeterminado */
  /* Agrega otros estilos personalizados si es necesario */
  display: inline;
  margin-left: 10px;
  background-color: none;
  color: white;
}

.error {
  text-align: center;
  color: rgb(197, 7, 7);
}